$color-palate: (
  // Primary Colors
  primary: #3e7afc,
  secondary: #02234b,
  accent: #19e7fc,
  decorative: #f43aac,
  blue-light: #0d315a,
  blue-float: #204167,
  // Native Colors
  purewhite: #ffffff,
  trueblack: #010a14,
  // Content Colors
  surface: #ffffff,
  content: #021d3d,
  // Overlay Colors
  overlay: #ffffff,
  // Status Colors
  success: #00d0a0,
  alert: #ffc400,
  error: #d50000,
  // Additional Colors
  ac-sirius: #55efc4,
  ac-earth: #00b894,
  ac-procyon: #ffeaa7,
  ac-sun: #fdcb6e,
  ac-canopus: #81ecec,
  ac-achernar: #00cec9,
  ac-altair: #fab1a0,
  ac-antares: #e17055,
  ac-vega: #74b9ff,
  ac-betelgeuse: #0984e3,
  ac-aldebaran: #ff7675,
  ac-pollux: #d63031,
  ac-rigel: #a29bfe,
  ac-agena: #6c5ce7,
  ac-spica: #fd79a8,
  ac-mimosa: #e84393
) !default;

// This function will manage to return a color by given key.
// @param $key: The color key in the $color-palate.
// @param $opacity: If has opacity the color will return as rgba.
// @return color as HEX or RGBA.
@function av-color($key, $opacity: false) {
  $value: map-get($color-palate, $key);
  @if ($value) {
    @if($opacity) {
      // To use css pure function used as uppercase
     @return RGBA(var(set-as-var($key)), $opacity);
    }
    // To use css pure function used as uppercase
    @return RGB(var(set-as-var($key)));
  } @else {
    $error: 'Given type is `#{$key}` please use `#{map-keys($color-palate)}`';
    @error $error;
  }
}


// Set :export to share variables with JS
:export {
  @each $key, $value in $color-palate {
    #{$key}: $value;
  }
}
