$opacity-types: (
  high: 1,
  medium: 0.6,
  disabled: 0.34,
  divider: 0.12,
  ghost: 0.05,
) !default;

// This function will manage to return opacity by given key.
// @param $key: The opacity key in the $opacity-types.
// @return opacity.
@function av-opacity($key) {
  @return var(set-as-var($key), get-number($opacity-types, $key));
}

// Set :export to share variables with JS
:export {
  @each $key, $value in $opacity-types {
    #{$key}: $value;
  }
}
