$opacity-types: (
  high: 1,
  medium: 0.6,
  disabled: 0.34,
  divider: 0.12,
  ghost: 0.05,
) !default;

@function av-opacity($key) {
  @return var(set-as-var($key), get-number($opacity-types, $key));
}
