$shadow-types: (
  micro: 0 1px 2px 0,
  tiny: 0 4px 8px 0,
  small: 0 6px 10px 0,
  medium: 0 8px 16px 0,
  large: 0 12px 24px 0,
) !default;

@function av-shadow($key, $color) {
  $shadow: map-get($shadow-types, $key);
  @if($shadow) {
    @return unquote('#{$shadow} #{$color}')
  } @else {
    @error 'Given value is `#{$key}`, the available values are - `#{map-keys($shadow-types)}`';
  }
}
