$spacing-measure-unit: px !default;

$spacing-sizes: (
  micro: 4,
  tiny: 8,
  base: 16,
  medium: 24,
  loose: 32,
  large: 48,
  grand: 64,
  giant: 80
) !default;

@function av-space($key: base) {
  @return var(set-as-var($key), get-number($spacing-sizes, $key) + $spacing-measure-unit);
}
