$elevations-opacity: (
  raised: 0.07,
  overlay: 0.09,
  sticky: 0.12,
  temporary: 0.15,
  pop-out: 0.16
) !default;

$elevations-shadow-opacity: (
  raised: 0.1,
  overlay: 0.1,
  sticky: 0.12,
  temporary: 0.1,
  pop-out: 0.1
) !default;

$elevations-shadow-sizes: (
  raised: micro,
  overlay: tiny,
  sticky: small,
  temporary: medium,
  pop-out: large
);

@mixin av-elevation($key) {
  @if($key != flat and $key != surface-base) {
    $elevation-opacity: map-get($elevations-opacity, $key);
    $shadow-opacity: map-get($elevations-shadow-opacity, $key);
    $shadow-size: map-get($elevations-shadow-sizes, $key);
    box-shadow: av-shadow($shadow-size, av-color(overlay, $shadow-opacity)), inset 0 0 0 99999px rgba(255, 255, 255, $elevation-opacity);
  }
}
