%av-scrollbar {
  &::-webkit-scrollbar {
    box-sizing: border-box;
    width: 16px;
  }

  &::-webkit-scrollbar-thumb {
    background: av-color(content, av-opacity(divider));
    border-radius: av-radius(curvy);
    border: 7px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;

    &:hover {
      background: av-color(content, av-opacity(disabled));
      border: 6px solid rgba(0, 0, 0, 0);
      background-clip: padding-box;
    }

    &:active {
      background: av-color(primary);
      border: 6px solid rgba(0, 0, 0, 0);
      background-clip: padding-box;
    }
  }
}
