$border-radius-measure-unit: px !default;
$border-radius-sizes: (
  tidy: 4,
  base: 8,
  round: 16,
  curvy: 24,
) !default;

@function av-radius($key: base) {
  @if($key == circle) {
    @return 50%;
  }
  @return var(--$key, get-number($border-radius-sizes, $key) + $border-radius-measure-unit);
}


