$opacity-types: (
  high: 1,
  medium: 0.6,
  disabled: 0.34,
  divider: 0.12,
  ghost: 0.05,
) !default;

@function opacity($key: base) {
  $value: map-get($opacity-types, $key);
  @if ($value) {
    @return var(--$key, $value);
  } @else {
    $error: 'Given type is `#{$key}` please use `#{map-keys($opacity-types)}`';
    @error $error;
  }
}
