$measure-unit: px !default;

$sizes: (
  sz-8: 8,
  sz-16: 16,
  sz-24: 24,
  sz-32: 32,
  sz-40: 40,
  sz-48: 48,
  sz-56: 56,
  sz-64: 64,
  sz-80: 80,
  sz-96: 96,
  sz-144: 144,
  sz-240: 240,
  sz-320: 320,
  sz-480: 480,
  sz-640: 640,
  sz-960: 960
) !default;

@function size($key: base) {
  $value: map-get($sizes, $key);
  @if ($value) {
    @return var(--$key, $value + $measure-unit)
  } @else {
    $error: 'Given type is `#{$key}` please use `#{map-keys($sizes)}`';
    @error $error;
  }
}
