$font-weight: (
  lighter: 300,
  normal: 400,
  bold: 700
) !default;

$font-sizes: (
  micro: 10,
  tiny: 12,
  small: 14,
  base: 16,
  medium: 20,
  large: 24,
  x-large: 32,
  grand: 48,
  giant: 60,
  header: 96
) !default;

@function av-font-size($key: base) {
  @return rem(get-number($font-sizes, $key) * 1px);
}

@function av-font-weight($key: normal) {
  @return get-number($font-weight, $key);
}
