$color-palate: (
        primary: var(--primary, #3e7afc),
        secondary: var(--secondary, #02234b),
        accent: var(--accent, #19e7fc),
        decorative: var(--decorative, #f43aac),
        purewhite: var(--purewhite, #ffffff),
        trueblack: var(--trueblack, #010a14),
        surface1: var(--surface1, #02244d),
        surface2: var(--surface2, #fafafc),
        content1: var(--content1, #021d3d),
        content2: var(--content2, #fcfeff),
        success: var(--success, #00d0a0),
        alert: var(--alert, #ffc400),
        error: var(--error, #d50000),
        ac-sirius: var(--ac-sirius, #55efc4),
        ac-canopus: var(--ac-canopus, #81ecec),
        ac-vega: var(--ac-vega, #74b9ff),
        ac-rigel: var(--primary, #a29bfe),
        ac-earth: var(--ac-earth, #00b894),
        ac-achernar: var(--ac-achernar, #00cec9),
        ac-betelgeuse: var(--ac-betelgeuse, #0984e3),
        ac-agena: var(--ac-agena, #6c5ce7),
        ac-spica: var(--ac-spica, #fd79a8),
        ac-aldebaran: var(--ac-aldebaran, #ff7675),
        ac-altair: var(--ac-altair, #fab1a0),
        ac-procyon: var(--ac-procyon, #ffeaa7),
        ac-mimosa: var(--ac-mimosa, #ffeaa7),
        ac-pollux: var(--ac-pollux, #d63031),
        ac-antares: var(--ac-antares, #e17055),
        ac-sun: var(--ac-sun, #fdcb6e)
) !default;

@function color($key) {

  $color: map-get($color-palate, $key);

  @if($color) {
    @return $color;
  } @else {
    $error: 'Given type is `#{$key}` please use `#{map-keys($color-palate)}`';
    @error $error;
  }
}
