$size-measure: px;

$sizes: (
        8: 8 + $size-measure,
        16: 16 + $size-measure,
        24: 24 + $size-measure,
        32: 32 + $size-measure,
        40: 40 + $size-measure,
        48: 48 + $size-measure,
        56: 56 + $size-measure,
        64: 64 + $size-measure,
        80: 80 + $size-measure,
        96: 96 + $size-measure,
        144: 144 + $size-measure,
        240: 240 + $size-measure,
        320: 320 + $size-measure,
        480: 480 + $size-measure,
        640: 640 + $size-measure,
        960: 960 + $size-measure
) !default;

@function size($key: base) {
  $size: map-get($sizes, $key);
  @if($size) {
    @return $size
  } @else {
    $error: 'Given type is `#{$key}` please use `#{map-keys($sizes)}`';
    @error $error;
  }
}
